flows_raspberry.json
[{"id":"5c4742a2.34e3ac","type":"tab","label":"lamp-gateway"},{"id":"6f0db3b7.397e6c","type":"sw-config","z":"","name":"site","hwid":"123-TEST-4567890","specification":"964e7613-dab3-4fb3-8919-266a91370884","site":"039365a5-3c0c-4235-8599-a4ef43ca8181"},{"id":"a131ca17.2d5b68","type":"mqtt-broker","z":"","broker":"127.0.0.1","port":"1883","clientid":"node-red-client-001","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"a10adb83.5a28d8","type":"sw-register","z":"5c4742a2.34e3ac","name":"Register","config":"6f0db3b7.397e6c","x":450,"y":162,"wires":[["6414f9c.c6ad308","64b4d069.634e4"]]},{"id":"6414f9c.c6ad308","type":"mqtt out","z":"5c4742a2.34e3ac","name":"","topic":"SiteWhere/input/json","qos":"","retain":"","broker":"a131ca17.2d5b68","x":700,"y":204,"wires":[]},{"id":"49d415a1.35533c","type":"inject","z":"5c4742a2.34e3ac","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":255,"y":129,"wires":[["a10adb83.5a28d8"]]},{"id":"c60bd0bf.2352c","type":"mqtt in","z":"5c4742a2.34e3ac","name":"","topic":"SiteWhere/system/123-TEST-4567890","qos":"2","broker":"a131ca17.2d5b68","x":339,"y":378,"wires":[["e0ba6b42.d60da8"]]},{"id":"e0ba6b42.d60da8","type":"debug","z":"5c4742a2.34e3ac","name":"D2","active":true,"console":"false","complete":"payload","x":693,"y":427,"wires":[]},{"id":"64b4d069.634e4","type":"debug","z":"5c4742a2.34e3ac","name":"D0","active":true,"console":"false","complete":"true","x":646,"y":117,"wires":[]},{"id":"3ffba921.fa25f6","type":"mqtt in","z":"5c4742a2.34e3ac","name":"","topic":"SiteWhere/commands/123-TEST-4567890","qos":"2","broker":"a131ca17.2d5b68","x":347,"y":278,"wires":[["c4298174.af3af"]]},{"id":"c4298174.af3af","type":"debug","z":"5c4742a2.34e3ac","name":"D1","active":true,"console":"false","complete":"payload","x":697,"y":321,"wires":[]},{"id":"58b7e10f.81c83","type":"mqtt out","z":"5c4742a2.34e3ac","name":"","topic":"device/to/sitewhere/1234","qos":"","retain":"","broker":"a131ca17.2d5b68","x":188,"y":826,"wires":[]},{"id":"35ab8fb1.1d3fe","type":"inject","z":"5c4742a2.34e3ac","name":"Device Simulate","topic":"","payload":"{\"GR\":-22, \"GA\":22}","payloadType":"json","repeat":"","crontab":"","once":false,"x":131,"y":689,"wires":[["5b9e3706.86dcd8"]]},{"id":"5b9e3706.86dcd8","type":"json","z":"5c4742a2.34e3ac","name":"","x":132,"y":759,"wires":[["58b7e10f.81c83"]]},{"id":"ac8d4cfb.4dce6","type":"mqtt in","z":"5c4742a2.34e3ac","name":"","topic":"device/to/sitewhere/#","qos":"2","broker":"a131ca17.2d5b68","x":529,"y":699,"wires":[["349a0f07.3f1bd"]]},{"id":"f60ac2c6.d2e25","type":"function","z":"5c4742a2.34e3ac","name":"payload","func":"var data = {};\n\nvar v = msg.topic.split(\"/\");\n\ndata['mx:GR'] = msg.payload[\"GR\"];\ndata['mx:GA'] = msg.payload[\"GA\"];\ndata['mx:GD'] = msg.payload[\"GD\"];\ndata['mx:GI'] = msg.payload[\"GI\"];\ndata['mx:GT'] = msg.payload[\"GT\"];\ndata['mx:GC'] = msg.payload[\"GC\"];\ndata['mx:GP'] = msg.payload[\"GP\"];\ndata['mx:hardwareID'] = v[4];\n\nreturn data;","outputs":1,"noerr":0,"x":846,"y":697,"wires":[["6049bc29.4a02d4"]]},{"id":"349a0f07.3f1bd","type":"json","z":"5c4742a2.34e3ac","name":"","x":740,"y":772,"wires":[["f60ac2c6.d2e25"]]},{"id":"6049bc29.4a02d4","type":"sw-send-measurements","z":"5c4742a2.34e3ac","name":"Send Measurements","mxname":"","mxvalue":"0","updstate":true,"config":"6f0db3b7.397e6c","x":997,"y":768,"wires":[["808ea927.678668","978d6e86.52299"]]},{"id":"978d6e86.52299","type":"mqtt out","z":"5c4742a2.34e3ac","name":"","topic":"SiteWhere/input/json","qos":"","retain":"","broker":"a131ca17.2d5b68","x":1206,"y":827,"wires":[]},{"id":"808ea927.678668","type":"debug","z":"5c4742a2.34e3ac","name":"D3","active":true,"console":"false","complete":"payload","x":1158,"y":701,"wires":[]},{"id":"5e91800a.ee1be","type":"mqtt in","z":"5c4742a2.34e3ac","name":"","topic":"/test/2222","qos":"2","broker":"a131ca17.2d5b68","x":969,"y":1096,"wires":[["e6485024.3b9cc"]]},{"id":"e6485024.3b9cc","type":"debug","z":"5c4742a2.34e3ac","name":"D5","active":true,"console":"false","complete":"payload","x":1146,"y":1219,"wires":[]},{"id":"59126aa9.0acdb4","type":"mqtt out","z":"5c4742a2.34e3ac","name":"To device","topic":"","qos":"","retain":"","broker":"a131ca17.2d5b68","x":667,"y":1098,"wires":[]},{"id":"2c3b5a85.325e86","type":"inject","z":"5c4742a2.34e3ac","name":"Command Simulation","topic":"","payload":"{\"hardwareID\":2222, \"GR\":-22, \"GA\":22}","payloadType":"json","repeat":"","crontab":"","once":false,"x":188,"y":1263,"wires":[["f8ef046b.3bb2f8"]]},{"id":"f8ef046b.3bb2f8","type":"function","z":"5c4742a2.34e3ac","name":"","func":"delete msg.topic;\nvar hid = msg.payload['hardwareID'];\nmsg['topic'] = \"/test/\" + hid;\ndelete msg.payload['hardwareID'];\nreturn msg;","outputs":1,"noerr":0,"x":446,"y":1179,"wires":[["59126aa9.0acdb4","5543e8e6.26e618"]]},{"id":"5543e8e6.26e618","type":"debug","z":"5c4742a2.34e3ac","name":"D4","active":true,"console":"false","complete":"true","x":642,"y":1258,"wires":[]},{"id":"8902123a.8fcd5","type":"mqtt in","z":"5c4742a2.34e3ac","name":"Command from SiteWhere","topic":"SiteWhere/commands/123-TEST-4567890","qos":"2","broker":"a131ca17.2d5b68","x":169,"y":1098,"wires":[["f8ef046b.3bb2f8"]]},{"id":"905239cf.dbb3f8","type":"comment","z":"5c4742a2.34e3ac","name":"Only to simulate device.","info":"","x":990,"y":1018,"wires":[]},{"id":"cc4c2c82.17ddd","type":"comment","z":"5c4742a2.34e3ac","name":"Command from sitewhere and send it to addressed device","info":"","x":269,"y":1027,"wires":[]},{"id":"56372e34.cb0dd","type":"comment","z":"5c4742a2.34e3ac","name":"Register node-red as client to SiteWhere","info":"","x":252,"y":44,"wires":[]},{"id":"4f9b53b6.573c2c","type":"comment","z":"5c4742a2.34e3ac","name":"Only to simulate device","info":"","x":144,"y":607,"wires":[]},{"id":"84e8532e.28431","type":"comment","z":"5c4742a2.34e3ac","name":"Device to SiteWhere","info":"","x":526,"y":599,"wires":[]}]